---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="{{ 'pretty-feed.xsl' | url }}" type="text/xsl"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }} Blog</title>
    <link>{{ site.url }}/blog/</link>
    <description>{{ site.description }}</description>
    <language>{{ site.language }}</language>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    {%- for post in collections.post %}
    <item>
      <title>{{ post.data.title | xml_escape }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | date: "%a, %d %b %Y 00:00:00 +0000" }}</pubDate>
      <description>{{ post.data.description | xml_escape }}</description>
      {%- for tag in post.data.tags %}
      {%- unless tag == "post" %}
      <category>{{ tag | xml_escape }}</category>
      {%- endunless %}
      {%- endfor %}
      {%- if post.data.author %}
      {%- assign postAuthor = users[post.data.author] %}
      <author>{{ site.email }} ({{ postAuthor.fullname | xml_escape }})</author>
      {%- endif %}
    </item>
    {%- endfor %}
  </channel>
</rss>
